.ProfileWrapper{
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    width: 100%;
    gap: 24px;
}

@media (max-width: 955px) {
    .ProfileWrapper{
       flex-direction: column;
    }
  }